/* с разрешение 1920 пересчитал на разрешение 1366 под мой ноутбук, уменьшил на 1,4 коэфф */

body {
font-family: Arial, sans-serif;
}

nav {
width: 100%;
height: 42px;
background: #344051;
}

.logo {
color: #fff;
font-size: 17px;
line-height: 42px;
padding-left: 277px;
float: left;
}

.menu {
float: left;
padding-left: 308px;
}

.menu li {
float: left;
line-height: 42px;
color: #fff;
margin-right: 28px;
font-size: 11px;
text-transform: uppercase;
}

.main {
width: 100%;
height: calc(100% - 60px);
background: url("../img/boy.png") 90% 100%/auto 85% no-repeat, 
url("../img/bg.jpg") center/cover no-repeat;
}


.title__container{
float: left;
margin: 308px 0px 0px 288px;
color: #2c384a;
text-align: center;

}

.title__container h1{
font-size: 42px;
font-weight: bold;
}

.title__container h4{
margin-top: 28px;
font-size: 15px;
color: #79818d;
}

.title__container input{
height: 28px;
text-align: center;
border: 2px solid #6d76a2;
background: none;
border-radius: 5px;
color: #6d7682;
font-size: 13px;
padding: 0px 16px;
margin: 58px 14px 0px 14px;  
}

.About_Me__container {
margin: 70px 0px 80px 0px;
text-align: center;
display: block; 

}

.About_Me__container h2 {
font-size: 35px;
font-family: 'Franklin Gothic Medium Regular', sans-serif;
text-transform: uppercase;
}

.About_Me__container > img {
display: block;
margin: 21px auto auto;

}

.foto_profi img {
display: block;
margin: 53px auto auto;
}

.About_Me__container  p {
font-size: 14px;
font-weight: 600;
text-align: left;
/* padding: 10px; */
margin: 18px auto;
margin-bottom: 21px;
color: #38475a; 
width: 58%;

}

.About_Me__container button {
height: 35px;
text-align: center;
border: 2px solid #6d76a2;
background: none;
border-radius: 6px;
color: #6d7682;
font-size: 12px;
padding: 0px 10px;
font-weight: 600;
/* margin: 58px 14px 0px 14px; */ 
}


.Achievement__container {
width: 100%;
height: auto;
/* height: calc(100% - 20px); */
background: url("../img/bg-znania.jpg") center/cover no-repeat;
background-attachment: fixed;
text-align: center;
}


.Achievement__container__um h2 {
margin-top: 60px;
font-size: 35px;
font-family: 'Franklin Gothic Medium Regular', sans-serif;
text-transform: uppercase;

}

.Achievement__container__um > img {
display: block;
margin: 21px auto auto;

}

.Achievement__container__img-banner {
margin: 71px;
flex-wrap: wrap;
text-align: center;

   

}

.Achievement__container__img-banner h3 {
font-family: 'Bahnschrift SemiBold', "Aral", sans-serif;
color: #e87700;
font-size: 18px;
font-weight: bold;
}

.Achievement__container__img-banner > img {
display: block;
margin: 20px auto auto;
height: 50px;
transition: all 1s;

}

.Achievement__container__img-banner  p {
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'Calibri Regular', "Arial", sans-serif;
    font-size: 14px;
    letter-spacing: -1.5px;
    color: #38475a;
    text-align: center;
    margin-bottom: 50px;

}



.Keis__container {
text-align: center;
margin-top:70px;
}

.Keis__container__h2-img h2 {
margin-top: 60px;
font-size: 35px;
font-family: 'Franklin Gothic Medium Regular', sans-serif;
text-transform: uppercase;

}

.Keis__container__h2-img > img {
display: block;
margin: 21px auto auto;

}

.Keis__container__h2-img  p {
font-size: 13.24px;
font-weight: 600;
text-align: left;
/* padding: 10px; */
margin: 18px auto;
margin-bottom: 21px;
color: #38475a; 
width: 58%;

}


.karysel > img{
text-align: center;
width: 900px;
}

.client-info {
text-align:center;
width: 900px;
margin-left: 225px;
margin-top:7px;
      
}

.client-info button {
font-size:18px;
color:#fff;
border: 6px solid #63b5ae;
border-radius: 5px;
background-color: #63b5ae;
}

.ras4et__container {
margin-top:70px;
margin-left: 225px;
text-align:center;
border-radius:1px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
width: 900px;

}

.ras4et__container h2 {
margin-top: 60px;
font-size: 35px;
font-family: 'Franklin Gothic Medium Regular', sans-serif;
}

.ras4et__container h3 {
margin-right: 25px;
font-size: 25px;
font-family: 'Franklin Gothic Medium Regular', sans-serif;
text-transform: uppercase;
color: #102032;
width: 100%;
}


.ras4et__container select {
margin-top: 15px;
width: 100%;
background-color: #eeeeee;
height: 58px;
font-size: 12px;
font-weight: 600;
color: #747474;
}

.ras4et__container option {
margin-top: 15px;
background-color: #eeeeee;
height: 58px;
font-size: 12px;
font-weight: 600;
color: #747474;
}

.linia2_img {
margin-top: 38px;
margin-left: 225px;
margin-bottom: 23px;
overflow: hidden;
}

.datamoney {
margin-left: 225px;
margin-top:38px;
}

.datamoney b {
font-size:20px;
}

.st  {
margin-left: 818px;
font-size:20px;
}

.st1  {
margin-left: 773px;
font-size:20px;
}


.datamoney button {
margin-top:35px;
margin-left:360px;
margin-bottom:85px;
font-size:22px;
color:#fff;
border: 6px solid #63b5ae;
border-radius: 5px;
background-color: #63b5ae; 
}

.Stat__container {
width: 100%;
height: auto;
background: url("../img/bg_stata.png") center/cover no-repeat;
background-attachment: fixed;
text-align:center;
margin-top: 60px;
}

.Stat__container h2 {
margin-top: 60px;
margin-right:20px;
margin-bottom:20px;
font-size: 35px;
font-family: 'Franklin Gothic Medium Regular', sans-serif;
text-transform: uppercase;

}


.Stat__container > img {
display: block;
margin: 21px auto auto;

}

.Stat__container__img-banner {
margin: 71px;
margin-right:120px;
flex-wrap: wrap;
text-align: center;

   

}

.Stat__container__img-banner h3 {
font-family: 'Bahnschrift SemiBold', "Aral", sans-serif;
color: #283c4f;
font-size: 35px;
font-weight: bold;
}

.Stat__container__img-banner > img {
display: block;
margin: 20px auto auto;
height: 50px;
transition: all 1s;

}

.Stat__container__img-banner  p {
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'Calibri Regular', "Arial", sans-serif;
    font-size: 20px;
    letter-spacing: -1.5px;
    color: #38475a;
    text-align: center;
    margin-bottom: 50px;

}


.Otziv__container {
margin: 70px 0px 80px 0px;
text-align: center;
display: block; 

}

.Otziv__container h2 {
font-size: 35px;
font-family: 'Franklin Gothic Medium Regular', sans-serif;
text-transform: uppercase;
}

.Otziv__container > img {
display: block;
margin: 21px auto auto;

}

.Otziv__container  p {
font-size: 15px;
font-weight: 400;
/* text-align: left; */
margin: 18px auto;
margin-bottom: 21px;
color: #38475a; 
width: 58%;

}

.Kontakt__container {
margin: 70px 0px 00px 0px;
text-align: center;
display: block; 

width: 100%;
height: auto;
background: url("../img/bg_contact.png") center/cover no-repeat;
/* background-attachment: fixed; */
text-align:center;
/* margin-top: 60px; */

}

.Kontakt__container  p {
font-size: 20px;
font-weight: 400;
/* text-align: left; */
margin: 18px auto;
margin-bottom: 21px;
color: #fff; 
width: 58%;

}

.Kontakt__container h2 {
margin-top:65px;
font-size: 35px;
font-family: 'Franklin Gothic Medium Regular', sans-serif;
text-transform: uppercase;
color:#fff;
}

.Kontakt__container h3 {
margin-top:5px;
font-size: 25px;
font-family: 'Franklin Gothic Medium Regular', sans-serif;
text-transform: uppercase;
color:#fff;
}

.Kontakt__container__img-banner {
/* margin: 71px; */
margin-left:100px;
flex-wrap: wrap;
text-align: center;
}

.Kontakt__container__img-banner > img {
display: block;
margin: 20px auto auto;
height: 30px;
transition: all 1s;

}

.Kontakt__container__img-banner  p {
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Calibri Regular', "Arial", sans-serif;
    font-size: 20px;
    letter-spacing: -1.5px;
    color: #fff;
    text-align: center;
    margin-bottom: 50px;

}

.forms input {
    font-family: 'Franklin Gothic Medium Regular', sans-serif;
    font-size: 16.67px;
    font-weight: 600;
    margin: 30px 0px 0px 0px;
    height: 35px;
    width: 350px;
    background-color: #d2d6dc;
    opacity: .8;
    padding-left: 10px;
}

@media (max-width:575px) {
    .forms input {
        margin-top: 2px;
        height: 25px;
        width: 50%;
        margin-left: 25%;
    }
}

@media (max-width:320px) {
    .forms input {
        margin-top: 2px;
        height: 25px;
        width: 50%;
        margin-left: 25%;
    }
}

.forms textarea {
    font-family: 'Franklin Gothic Medium Regular', sans-serif;
    font-size: 16.67px;
    font-weight: 600;
    margin: 14px 0px 0px 0px;
    height: 96px;
    width: 700px;
    background-color: rgba(210, 214, 220, .8);
    padding: 5px 0px 0px 10px;
}

@media(max-width:576px) {
    .forms textarea {
        margin-top: 5px;
        height: 65px;
    }
}

.send_button {
margin-top:85px;
}
.send_button input {
    margin: 25px 0px 0px 0px;
    padding-right: 10px;
    font-family: 'Franklin Gothic Medium Regular', sans-serif;
    font-size: 20.83px;
    font-weight: 600;
    letter-spacing: -2px;
    height: 47px;
    width: 126px;
    border: 2px solid #fdfdfd;
    border-radius: 5px;
    color: #fff;
    background: none;
    transition: all 0.1s;
    transform: scale(1);


}

.send_button input:hover {
    background: #d1d0d0;
    opacity: 0.5;
    color: #000;

}

.send_button input:active {
transform: scale(0.9);
    

}


.footer p {
    height: 77px;
    background: #354051;
    color: #fff;
    text-align: center;
    line-height: 77px;
    font-size: 11px;
}
